<form method="post" action="/Test/SendTestEmail">
    <label for="email">Enter email address to send test email:</label>
    <input type="email" id="email" name="email" required />
    <button type="submit">Send Test Email</button>
</form>
